<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список проектов</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</head>
<body class="container mt-4">
<h2>Список проектов</h2>


<script th:inline="javascript">
    function confirmDelete() {
        var selectedCount = document.querySelectorAll('input[name="deleteIds"]:checked').length;
        if (selectedCount > 1) {
            var result = confirm("Вы уверены, что хотите удалить выбранные проекты?");
            return result;
        } else {
            return true;
        }
    }
</script>

<form th:action="@{/projects/delete}" method="post" onsubmit="return confirmDelete()">
    <table class="table">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${project.id}" name="deleteIds"/>
                    <a class="text-decoration-none" th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.name}"></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-outline-danger">Удалить</button>
</form>

<a class="btn btn-outline-success" th:href="@{/projects/new}">Создать</a>
</body>
</html>
